/*************************************************************************************/
//  Author: Eric Keränen
//  About Page Styles
//  Version: 1.0
/*************************************************************************************/

.about_container
    padding: 0.5rem
    border: solid 1px #F2F2F2
    width: 700px

.list li
    margin-bottom: .5rem

.list li a
    font-size: 1.2rem

