.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121212;
}


.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
}

.dashed {
    text-decoration: underline dashed;
}

.form {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    padding: 0.5rem;
}

.section {
    display: inherit;
    flex-direction: inherit;
    width: 300px;
    position: relative;
}

.section label {
    text-align: left;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    width: 600px;
}

.section input,
.section button,
.section select {
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem;

    background: transparent;
    color: #F2F2F2;
    border: solid 1px #F2F2F2;

    transition: .2s ease-in-out;
}

.section input:hover,
.section button:hover,
.section select:hover {
    background: #262626;
}

.section input:focus,
.section button:focus,
.section select:focus {
    outline: none;
    background: #F2F2F2;
    color: #121212;
}

.section .error {
    border: solid 2px #FF4433;
}

.red {
    color: #FF4433;
}

.red span {
    color: #F2F2F2;
}

.section button {
    margin: 1.25rem 0;
    font-family: 'Fira Sans', sans-serif;
}

.section .back {
    border: none;
}

.section button:hover {
    letter-spacing: .3rem;
}

.terms {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 1.25rem;

    margin: 2.5rem 0 1.25rem;
}

.img {
    width: 500px;
    height: 500px;
}

.summary {
    display: flex;
}

.user_info {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    height: 500px;
}

.bold {
    font-weight: bold;
}

.underline {
    width: 300px;
    border-bottom: 1px solid #F2F2F2;
}

.more_info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, .2);

    transition: .2s ease-in-out;
}

.more_info:hover {
    background: rgba(0, 0, 0, .8);
}

.more_info:hover > .more_info_reveal {
    visibility: visible;
    opacity: 1;
}

.more_info_reveal {
    visibility: hidden;
    opacity: 0;

    padding: 5px;
    position: absolute;
    right: -410px;
    width: 400px;
    border: 1px solid #F2F2F2;

    transition: .2s ease-in-out;
}

.terms input[type="checkbox"] {
    width: 1.4rem;
    height: 1.4rem;
}

.row {
    display: inherit;
    align-items: center;
}